doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Orbitron')
    link(rel='stylesheet', href='./stylesheets/normalize.css')
    link(rel='stylesheet', href='./stylesheets/base.css')
    link(rel='stylesheet', href='./stylesheets/navigation.css')
    script(src='./javascripts/jquery-2.2.0.min.js')
    block headcontent
    
  body
    block content